@tailwind components;

@layer components {
  .select {
    position: relative;
    display: grid;
    grid-template-areas: "select";
    z-index: 10;
    align-items: center;
  }

  .select::after {
    @apply bg-gray-300;
    content: "";
    grid-area: select;
    height: 0.75rem;
    width: 1.25rem;
    clip-path: polygon(15% 0, 0 15%, 50% 100%, 100% 15%, 85% 0, 50% 60%);
    margin-left: 1rem;
    margin-right: 1rem;
    justify-self: flex-end;
  }

  .select select {
    @apply bg-gray-100 border-gray-300;
    grid-area: select;
    min-height: 2.5rem;
    min-width: 8rem;
    width: 100%;
    border-width: 1px;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 3rem;
    appearance: none;
  }

  .select select:focus {
    box-shadow: none;
    outline: none;
  }
}
