@tailwind components;

@layer components {
  .form-field {
    display: flex;
    flex-direction: column;
  }
  .form-field label {
    margin-bottom: 3px;
  }

  .form-field .error {
    @apply text-red-600;
  }
}
