@tailwind components;

@layer components {
  .btn {
    @apply rounded-md bg-blue-500 text-base font-medium text-white transition-colors;
    display: inline-flex;
    height: 2.75rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    border-radius: 0.375rem;
  }
  .btn:hover {
    @apply bg-blue-700;
  }
  .btn:focus-visible {
    @apply outline-none ring-2 ring-offset-2;
  }
  .btn:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
