@tailwind components;

@layer components {
  .btn {
    @apply bg-blue-500 text-white transition-colors;
    display: inline-flex;
    height: 2.75rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.375rem;
  }
  .btn:hover {
    @apply bg-blue-700;
  }
  .btn:focus-visible {
    @apply ring-2 ring-offset-2;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .btn:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
