@tailwind components;

@layer components {
  .separator {
    display: flex;
    align-items: center;
    min-height: 1.5rem;
  }

  .separator div {
    @apply bg-gray-100;
    height: 0.125rem;
    width: 100%;
  }

  .separator span {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: center;
  }
}